#wrapper{
    height:800px;
}
.Blank{
    height:100px;
}
#CoverPic{
    height:500px;
    width:800px;
    margin-left:auto;
    margin-right:auto;
    background-image:url('CoverPic.png');
    background-size:100% 100%;
    position:relative;
}
#Title{
    margin-left:-100px;
    margin-top:100px;
    height:240px;
    width:1000px;
    position:absolute;
    font-size:90px;
    font-family:Bungee Shade;
    text-align:center;
    font-weight:900;
}
#Click{
    font-size:35px;
    font-family:Pangolin;
    text-align:center;
    text-decoration:underline;
    position:relative;
}
#ClickPic{
    height:100px;
    width:100px;
    position:absolute;
    margin-left:750px;
    margin-top:-70px;
    background-image:url('http://images.clipartpanda.com/clipart-smiley-face-smiley_face_13.png');
    background-size:100% 100%;
}
#Menu{
    margin-top:-750px;
    height:693px;
    width:400px;
    background-color:rgba(255, 255, 255, 0.8);
    position:fixed;
}
.SelectButton{
    border-radius:10px;
    height:55px;
    width:396px;
}
.Select{
    font-family:Pangolin;
    font-size:40px;
    border:#3399ff 4px solid;
}
#Close{
    text-align:right;
    text-decoration:underline;
    font-family:Pangolin;
}